@page "/"

<head>
    <link rel="stylesheet" href="../css/index_style.css" />
</head>b

<section class="main_page">
    <div class="video_container">
        <video loop muted autoplay>
            <source src="../video/index_background.mp4"/>
        </video>
    </div>
    <div class="main_page_container">
        <div class="content">
            <div class="content_container">
                <div class="title">
                    <h1>Physics Explained</h1>

                    <div class="underline_container">
                        <div class="underline"></div>
                    </div>
                </div>

                <div class="text">
                    Learn physics to understand the world
                </div>

                <div class="link_container">
                    <NavLink href="MainPage">
                        Explore
                    </NavLink>
                </div>

            </div>
        </div>
    </div>
</section>
