@page "/MainPage"

<head>
    <link rel="stylesheet" href="../css/main_page_container.css" />
</head>

<section class="head">
    <div class="head_container">

        <div class="left">
            <div class="left_container">
                <div class="title">
                    <h1>Physics</h1>
                    <h1>Explained</h1>
                </div>

                <div class="content">
                    <p>
                        Hey, I just watched this from start to finish in one sitting while doing house chores, and I just had to write a comment to thank you for making it. I work for CDPR, on Gwent at the moment (I appreciate the mention of TB!), and I never played the first Witcher game as
                    </p>
                </div>

                <div class="button_container">
                    <button>Learn more</button>
                </div>
            </div>
        </div>

        <div class="right">
            <div class="right_container">

            </div>
        </div>

    </div>
</section>


<section class="about">
    <div class="about_container">

        <div class="left">
            <div class="left_container">

                <div class="img_container">
                    <img src="../images/student.jpg" alt="student.jpg"/>
                </div>

                <div class="title">
                    <h2>For students</h2>
                </div>

                <div class="text">
                    <p>
                        Hey, I just watched this from start to finish in one sitting while doing house chores, and I just had to write a comment to thank you for making it. I work for CDPR, on Gwent at the moment (I appreciate the mention of TB!), and I never played the first Witcher game as
                    </p>
                </div>

            </div>
        </div>

        <div class="right">
            <div class="right_container">

                <div class="img_container">
                    <img src="../images/teacher.jpg" alt="teacher.jpg"/>
                </div>

                <div class="title">
                    <h2>For teachers</h2>
                </div>

                <div class="text">
                    <p>
                        Hey, I just watched this from start to finish in one sitting while doing house chores, and I just had to write a comment to thank you for making it. I work for CDPR, on Gwent at the moment (I appreciate the mention of TB!), and I never played the first Witcher game as
                    </p>
                </div>

            </div>
        </div>

    </div>
</section>


<section class="contents">
    <div class="contents_container">

        <div class="title">
            <h1>Talbe of contents</h1>

            <div class="underline_container">
                <div class="underline">

                </div>
            </div>
        </div>

        <div class="table">

            <NavLink href="#">
                <div class="item">
                    <div class="item_img">
                        <img src="../images/motion.png" />
                    </div>

                    <div class="name">
                        <p>Motion</p>
                    </div>
                </div>
            </NavLink>

            <NavLink href="#">
                <div class="item">
                    <div class="item_img">
                        <img src="../images/motion.png" />
                    </div>

                    <div class="name">
                        <p>2D Motion</p>
                    </div>
                </div>
            </NavLink>

            <NavLink href="#">
                <div class="item">
                    <div class="item_img">
                        <img src="../images/motion.png" />
                    </div>

                    <div class="name">
                        <p>Gravity</p>
                    </div>
                </div>
            </NavLink>

            <NavLink href="#">
                <div class="item">
                    <div class="item_img">
                        <img src="../images/motion.png" />
                    </div>

                    <div class="name">
                        <p>Kinematics</p>
                    </div>
                </div>
            </NavLink>

        </div>

    </div>
</section>

<footer>
    <p>&copy; Mateusz Owczarek @DateTime.Now.Year</p>
</footer>